.Overlay {
  position: absolute;
  top: 0;
  z-index: 120;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.closeButton {
  position: absolute;
  top: 15px;
  left: 15px;
  height: fit-content;
  width: fit-content;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #fcfcfc;
}

.locationContainer {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  color: #fcfcfc;
}

.locationContainerInner {
  display: flex;
  align-items: flex-end;
  color: #fcfcfc;
  flex-direction: column;
  margin-left: 5px;
}

.captureButton {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid white;
  background: transparent;
  cursor: pointer;
  position: absolute;
  bottom: 2%;
}

.descriptionContainer {
  position: absolute;
  width: 100%;
  bottom: 10px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 0;
}

.descriptionTextarea {
  background: rgba(0, 0, 0, 0.3);
  border: none;
  color: white;
  resize: none;
  width: 90%;
  height: 60px;
  position: fixed;
  top: 33vh;
  padding-left: 10px;
}
.AddTitle {
  background: rgba(0, 0, 0, 0.3);
  border: none;
  color: white;
  resize: none;
  width: 90%;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  position: fixed;
  top: 28vh;
  padding-left: 10px;
}

.sendButton {
  background: transparent;
  border: none;
  cursor: pointer;
}

.adressContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 40vh;
  width: 90%;
  height: 10vh;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.descriptionTextarea.readyToSubmit {
  border: 2px solid green;
}

.descriptionTextarea:focus {
  border: 4px solid green;
}
