@tailwind base;
@tailwind components;
@tailwind utilities;

/* Header-Font: Cherry Bomb One; */
@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Oswald:wght@500&family=Roboto:wght@100&display=swap");

/* Text-Font: Quicksand; */
@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Oswald:wght@500&family=Quicksand&family=Roboto:wght@100&display=swap");

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --text: 0 0% 100%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: #3c5be9;
    --primary-foreground: #7b55d4;

    --secondary: #7422ac;
    --secondary-foreground: #f8f8f8;

    --accent: #4cc9f0;
    --accent-foreground: #b881d8;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    /* Header-Font: Cherry Bomb One; */
    h1,
    h2,
    h3,
    .header-font {
      font-family: "Cherry Bomb One", cursive;
      text-decoration: none;
    }

    /* Text-Font: Quicksand; */
    body,
    p,
    .text-font {
      font-family: "Quicksand", sans-serif;
    }

    /* Überschrift-Font: Oswald; */
    .heading-font {
      font-family: "Oswald", sans-serif;
      font-weight: 500;
    }
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: #3a0ca3;
    --primary-foreground: #4361ee;

    --secondary: #f0a2c5;
    --secondary-foreground: #7209b7;

    --accent: #4cc9f0;
    --accent-foreground: #4cc9f0;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 17.5%;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.navbar {
  background: linear-gradient(
    to right,
    var(--primary),
    var(--accent-foreground) 70%,
    var(--secondary)
  );
  opacity: 0.75;
  border-radius: var(--radius);
  padding: 15px;
  width: 90%;
  margin: 20px auto;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--secondary-foreground);
  font-weight: 500;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.Searchbar {
  position: relative;
  width: 66%; /* Beispielbreite, kann je nach Bedarf angepasst werden */
  cursor: none; /* Cursor-Stil */
}

.Searchbar input[type="text"] {
  background: rgba(255, 255, 255, 0.5); /* Halbtransparentes Weiß */

  color: var(--secondary-foreground);
  font-weight: 500;
  font-size: 1.2rem;
  width: 100%;
  height: 100%;
  border-radius: var(--radius);
  border: none; /* Kein Rand */
  padding-right: 40px; /* Platz für den Button im Textfeld */
  cursor: text; /* Cursor-Stil */
}

.Searchbar button {
  position: absolute; /* Absolute Positionierung innerhalb des .Searchbar-Containers */
  right: -20px;
  top: 0;
  background: none; /* Transparenter Hintergrund */
  border: none;
  cursor: none; /* Cursor-Stil */
}

/* Menüknopf-Stil */
button.text-black {
  background: transparent;
  color: var(--secondary-foreground);
  border: none;
}

/* Stil für den Link im Navigationsmenü */
.ClassLink {
  text-decoration: none;
  color: var(--secondary-foreground);
  font-weight: 500;
}

.ClassLink2 {
  text-decoration: none;
  color: var(--text);
  font-weight: 800;
  font-size: larger;
  margin: 5px;
}

.UserNameMenu {
  font-weight: 800;
  font-size: larger;
  margin: 5px;
}

.RoleNameMenu {
  font-weight: 400;
  font-size: large;
  margin: 5px;
}
.SeperatorLine {
  border-bottom: 1px solid var(--secondary-foreground);
  margin: 15px;
}
