/* Header-Font: Cherry Bomb One; */
@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Oswald:wght@500&family=Roboto:wght@100&display=swap");
/* Text-Font: Quicksand; */
@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Oswald:wght@500&family=Quicksand&family=Roboto:wght@100&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.html {
  overflow: hidden;
  padding: 0;
  margin: 0;
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --text: 0 0% 100%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: rgba(60, 91, 233, 0.75);
    --primary-foreground: rgba(123, 85, 212, 0.55);
    --primary-menu: #ffffff;

    --secondary: rgba(116, 34, 172, 0.75);
    --secondary-foreground: rgba(248, 248, 248, 0.75);

    --text-hun-white: rgba(252, 252, 252, 1);
    --text-hun-black: rgba(0, 0, 0, 1);

    --accent: rgba(76, 201, 240, 0.75);
    --accent-foreground: rgba(184, 129, 216, 0.75);

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    /* Header-Font: Cherry Bomb One; */
    h1,
    h2,
    h3,
    .header-font {
      font-family: "Cherry Bomb One", cursive;
      text-decoration: none;
    }

    /* Text-Font: Quicksand; */
    body,
    p,
    .text-font {
      font-family: "Quicksand", sans-serif;
    }

    /* Überschrift-Font: Oswald; */
    .heading-font {
      font-family: "Oswald", sans-serif;
      font-weight: 500;
    }
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: rgba(58, 12, 163, 0.5);
    --primary-foreground: rgba(67, 97, 238, 0.5);
    --primary-menu: rgba(67, 97, 238, 1);

    --text-hun-white: rgba(0, 0, 0, 1);
    --text-hun-black: rgba(252, 252, 252, 1);

    --secondary: rgba(240, 162, 197, 0.5);
    --secondary-foreground: rgba(114, 9, 183, 0.5);

    --accent: rgba(76, 201, 240, 0.5);
    --accent-foreground: rgba(76, 201, 240, 0.5);

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 17.5%;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh !important;
  width: 100%;
  margin: 0;
  padding: 0;
}
