@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles/global.css (oder ähnlich) */
@import "~leaflet/dist/leaflet.css";

/* Header-Font: Cherry Bomb One; */
@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Oswald:wght@500&family=Roboto:wght@100&display=swap");

/* Text-Font: Quicksand; */
@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Oswald:wght@500&family=Quicksand&family=Roboto:wght@100&display=swap");

.html {
  overflow: hidden;
  padding: 0;
  margin: 0;
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --text: 0 0% 100%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: rgba(60, 91, 233, 0.75);
    --primary-foreground: rgba(123, 85, 212, 0.55);
    --primary-menu: #ffffff;

    --secondary: rgba(116, 34, 172, 0.75);
    --secondary-foreground: rgba(248, 248, 248, 0.75);

    --text-hun-white: rgba(252, 252, 252, 1);
    --text-hun-black: rgba(0, 0, 0, 1);

    --accent: rgba(76, 201, 240, 0.75);
    --accent-foreground: rgba(184, 129, 216, 0.75);

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    /* Header-Font: Cherry Bomb One; */
    h1,
    h2,
    h3,
    .header-font {
      font-family: "Cherry Bomb One", cursive;
      text-decoration: none;
    }

    /* Text-Font: Quicksand; */
    body,
    p,
    .text-font {
      font-family: "Quicksand", sans-serif;
    }

    /* Überschrift-Font: Oswald; */
    .heading-font {
      font-family: "Oswald", sans-serif;
      font-weight: 500;
    }
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: rgba(58, 12, 163, 0.5);
    --primary-foreground: rgba(67, 97, 238, 0.5);
    --primary-menu: rgba(67, 97, 238, 1);

    --text-hun-white: rgba(0, 0, 0, 1);
    --text-hun-black: rgba(252, 252, 252, 1);

    --secondary: rgba(240, 162, 197, 0.5);
    --secondary-foreground: rgba(114, 9, 183, 0.5);

    --accent: rgba(76, 201, 240, 0.5);
    --accent-foreground: rgba(76, 201, 240, 0.5);

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 17.5%;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh !important;
  width: 100%;
  margin: 0;
  padding: 0;
}

.DynamicMap {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh; /* Beispielhöhe */
  width: 100vw;
  z-index: 1; /* Damit die Karte hinter der Navbar liegt */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.BottomControll {
  z-index: 10;
  position: absolute;
  bottom: 0;
  margin-bottom: 0.5rem;
  background-color: transparent;
  width: 80%; /* Volle Breite */
  display: flex; /* Flexbox zur Ausrichtung der Buttons */
  justify-content: space-between; /* Verteilt die Buttons auf beiden Seiten */
}

.BottomControllLeft,
.BottomControllRight {
  margin: 5px; /* Abstand am Rand */
}

button {
  background: linear-gradient(
    to right,
    var(--primary),
    var(--accent-foreground) 70%,
    var(--secondary)
  ); /* Hintergrund wie in der Navbar */
  color: var(--secondary-foreground); /* Textfarbe */
  padding: 10px 20px; /* Polsterung um den Text */
  margin-bottom: 2rem;
  border: none; /* Kein Rand */
  border-radius: var(--radius); /* Abgerundete Ecken */
  font-size: 16px; /* Schriftgröße */
  cursor: pointer; /* Cursor wird zu einem Zeiger, wenn er über dem Button ist */
  transition: 0.3s; /* Glatter Übergang für Hover-Effekte */
  font-family: "Cherry Bomb One", cursive; /* Schriftart */
  opacity: 0.75; /* Transparenz wie in der Navbar */
}

button:hover {
  background: linear-gradient(
    to right,
    var(--secondary),
    var(--accent-foreground) 70%,
    var(--primary)
  ); /* Leicht andere Farbe beim Hovern */
}

.navbar {
  background: linear-gradient(
    to right,
    var(--primary-foreground),
    var(--accent-foreground) 70%,
    var(--secondary)
  );

  border-radius: var(--radius);
  padding: 15px;
  width: 80%;
  margin: 20px auto;
  height: 50px;
  display: flex;
  position: absolute;
  top: 0;
  z-index: 100;
  align-items: center;
  justify-content: space-between;
  justify-self: center;
  color: var(--secondary-foreground);
  font-weight: 500;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.navbar-flyout {
  background-color: rgba(255, 255, 255, 1);
}

.Logo {
  color: var(--text-hun-white);
}

.mobilNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: var(--primary-foreground);
}

.Searchbar {
  position: relative;
  width: 90%;
  cursor: none;
  margin-left: 5px;
}

.Searchbar input[type="text"] {
  background: rgba(255, 255, 255, 0.5);
  color: var(--text-hun-black);

  font-weight: 500;
  font-size: 1.2rem;
  width: 100%;
  height: 100%;
  border-radius: var(--radius);
  border: none;
  padding: 0.5rem 1rem;
  cursor: text;
  transition: 0.3s;
  outline: none;
}

/* Menüknopf-Stil */

.menuButton {
  background: transparent;
  color: var(--primary-menu);
  border: none;
  font-size: 1.5rem; /* Größere Ikone */
  cursor: pointer; /* Cursor-Stil */
  width: fit-content;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Stil für den Link im Navigationsmenü */
.ClassLink {
  text-decoration: none;
  color: var(--secondary-foreground);
  font-weight: 500;
}

.ClassLink2 {
  text-decoration: none;
  color: var(--text);
  font-weight: 800;
  font-size: larger;
  margin: 5px;
}

.UserNameMenu {
  font-weight: 800;
  font-size: larger;
  margin: 5px;
}

.RoleNameMenu {
  font-weight: 400;
  font-size: large;
  margin: 5px;
}
.SeperatorLine {
  border-bottom: 1px solid var(--secondary-foreground);
  margin: 15px;
}

@media screen and (max-width: 760px) {
  .navbar {
    background: linear-gradient(
      to right,
      var(--primary-foreground),
      var(--accent-foreground) 70%,
      var(--secondary)
    );

    border-radius: var(--radius);
    padding: 15px;
    width: 80%;
    margin: 20px auto;
    height: 50px;
    display: flex;
    position: absolute;
    top: 0;

    z-index: 100;
    align-items: center;
    justify-content: space-between;
    justify-self: center;
    color: var(--secondary-foreground);
    font-weight: 500;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .mobilNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .navbar h1 {
    display: none; /* Verbirgt h1 */
  }
  .Searchbar {
    width: 90%; /* Suchleiste nimmt fast die ganze Breite ein */
  }
  /* Suchleisten-Stil */
  .Searchbar input[type="text"] {
    /* ... Ihre vorhandenen Stile ... */
    padding-right: 40px; /* Raum für die Lupe */
    padding-left: 10px; /* Ein bisschen Abstand auf der linken Seite */
  }

  /* Menübutton-Stil */
  .menuButton {
    background: transparent;
    color: var(--primary-menu);
    border: none;
    font-size: 1.5rem; /* Größere Ikone */
    cursor: pointer; /* Cursor-Stil */
    width: fit-content;
    height: 100%;
    margin: 0;
    padding: 0;
  }
}
