.DynamicMap {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.BottomControll {
  z-index: 10;
  position: absolute;
  bottom: 0;
  margin-bottom: 66px;
  width: 80%;
  display: flex;
  justify-content: flex-end;
}

.AddButton {
  padding: 10px 20px;
  background: rgba(
    rgb(248, 248, 248),
    rgb(237, 239, 237),
    rgb(238, 238, 241),
    0.2
  );
  border: none;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  font-family: "Cherry Bomb One", cursive;
  opacity: 1;
}

.AddButton:hover {
  animation: buttonClick 0.5s;
}

@keyframes buttonClick {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Add Screen */

.Fullscreen {
  height: 100vh;
  position: absolute;
  top: 0;
}
